pedometer-program/.node-red/flows.json
[
    {
        "id": "55423c12.c8e5c4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f25af163.19cf1",
        "type": "ui_group",
        "name": "歷史記錄",
        "tab": "b675d84.5017c28",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false
    },
    {
        "id": "2fe28eb7.628192",
        "type": "postgresdb",
        "cfgname": "",
        "hostname": "ec2-34-198-31-223.compute-1.amazonaws.com",
        "port": "5432",
        "db": "d2sgpdjrhvr7td",
        "ssl": false
    },
    {
        "id": "b675d84.5017c28",
        "type": "ui_tab",
        "name": "步數統計",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "80b07be8.deaee8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5ee440c3.135b2",
        "type": "http response",
        "z": "55423c12.c8e5c4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "d70058af.96b178",
        "type": "http in",
        "z": "55423c12.c8e5c4",
        "name": "Get /hello",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "f30c2782.fba198"
            ]
        ]
    },
    {
        "id": "f30c2782.fba198",
        "type": "template",
        "z": "55423c12.c8e5c4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>",
        "output": "str",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "5ee440c3.135b2"
            ]
        ]
    },
    {
        "id": "9657ae56.79b75",
        "type": "debug",
        "z": "55423c12.c8e5c4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 330,
        "y": 380,
        "wires": []
    },
    {
        "id": "c833b8d4.10c068",
        "type": "http in",
        "z": "55423c12.c8e5c4",
        "name": "upload",
        "url": "/upload",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "9657ae56.79b75",
                "34f911a2.5725ce"
            ]
        ]
    },
    {
        "id": "526bbf49.41085",
        "type": "http response",
        "z": "55423c12.c8e5c4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "34f911a2.5725ce",
        "type": "function",
        "z": "55423c12.c8e5c4",
        "name": "Set Parameters",
        "func": "incoming = msg.payload;\nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.start_time = incoming.start_time;\nmsg.queryParameters.end_time = incoming.end_time;\nmsg.queryParameters.steps = incoming.steps;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 320,
        "wires": [
            [
                "657c00e0.610aa"
            ]
        ]
    },
    {
        "id": "657c00e0.610aa",
        "type": "template",
        "z": "55423c12.c8e5c4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "insert into pedometer_record values ($start_time, $end_time, $steps)",
        "output": "str",
        "x": 580,
        "y": 320,
        "wires": [
            [
                "8676505.0dd6ab"
            ]
        ]
    },
    {
        "id": "5eb7c229.9b0d5c",
        "type": "debug",
        "z": "55423c12.c8e5c4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "d24db741.84f108",
        "type": "ui_date_picker",
        "z": "55423c12.c8e5c4",
        "name": "",
        "label": "起始日期",
        "group": "f25af163.19cf1",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "topic": "start_time",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "b37c60d6.d6c94",
                "5a44df54.eb0cf"
            ]
        ]
    },
    {
        "id": "5716323.3f76bcc",
        "type": "ui_date_picker",
        "z": "55423c12.c8e5c4",
        "name": "",
        "label": "結束日期",
        "group": "f25af163.19cf1",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "topic": "end_time",
        "x": 240,
        "y": 560,
        "wires": [
            [
                "b37c60d6.d6c94",
                "5a44df54.eb0cf"
            ]
        ]
    },
    {
        "id": "86211046.8a6a1",
        "type": "ui_button",
        "z": "55423c12.c8e5c4",
        "name": "",
        "group": "f25af163.19cf1",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "查詢",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "query",
        "payloadType": "str",
        "topic": "query_button",
        "x": 230,
        "y": 600,
        "wires": [
            [
                "b37c60d6.d6c94"
            ]
        ]
    },
    {
        "id": "151ebac6.950a65",
        "type": "ui_chart",
        "z": "55423c12.c8e5c4",
        "name": "歷史記錄圖",
        "group": "f25af163.19cf1",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "歷史記錄圖",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "100",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f52500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1010,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b37c60d6.d6c94",
        "type": "function",
        "z": "55423c12.c8e5c4",
        "name": "Set Query Parameters",
        "func": "incoming_payload = msg.payload;\nincoming_topic = msg.topic;\nswitch (incoming_topic) {\n    case \"start_time\":\n        context.set('start_time', incoming_payload);\n        break;\n    case \"end_time\":\n        context.set('end_time', incoming_payload);\n        break;\n    case \"query_button\":\n        msg.queryParameters = msg.queryParameters || {};\n        dateObj = new Date(context.get('start_time'));\n        year = (dateObj.getFullYear()).toString();\n        month = (dateObj.getMonth() + 1).toString();\n        while (month.length<2) month = \"0\" + month;\n        date = (dateObj.getDate()).toString();\n        while (date.length<2) date = \"0\" + date;\n        dateString = year + \"-\" + month + \"-\" + date;\n        //hour = (dateObj.getHours()).toString();\n        //while (hour.length<2) hour = \"0\" + hour;\n        //minute = (dateObj.getMinutes()).toString();\n        //while (minute.length<2) minute = \"0\" + minute;\n        //second = (dateObj.getSeconds()).toString();\n        //while (second.length<2) second = \"0\" + second;\n        //timeString = hour + \":\" + minute + \":\" + second;\n        dateTimeString = dateString + \" \" + \"00:00:00\";\n        msg.queryParameters.start_time = dateTimeString;\n\n        dateObj = new Date(context.get('end_time')+86400000);\n        year = (dateObj.getFullYear()).toString();\n        month = (dateObj.getMonth() + 1).toString();\n        while (month.length<2) month = \"0\" + month;\n        date = (dateObj.getDate()).toString();\n        while (date.length<2) date = \"0\" + date;\n        dateString = year + \"-\" + month + \"-\" + date;\n        //hour = (dateObj.getHours()).toString();\n        //while (hour.length<2) hour = \"0\" + hour;\n        //minute = (dateObj.getMinutes()).toString();\n        //while (minute.length<2) minute = \"0\" + minute;\n        //second = (dateObj.getSeconds()).toString();\n        //while (second.length<2) second = \"0\" + second;\n        //timeString = hour + \":\" + minute + \":\" + second;\n        dateTimeString = dateString + \" \" + \"00:00:00\";\n        msg.queryParameters.end_time = dateTimeString;\n        return msg;\n        break;\n    default:\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 560,
        "wires": [
            [
                "c75cfea0.258d6",
                "6f47465c.c17378"
            ]
        ]
    },
    {
        "id": "6f47465c.c17378",
        "type": "template",
        "z": "55423c12.c8e5c4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "select start_time,steps from pedometer_record where start_time>=$start_time and start_time < $end_time order by start_time",
        "output": "str",
        "x": 540,
        "y": 620,
        "wires": [
            [
                "42c6d410.ded53c"
            ]
        ]
    },
    {
        "id": "c75cfea0.258d6",
        "type": "debug",
        "z": "55423c12.c8e5c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "queryParameters",
        "targetType": "msg",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "bc4b2e93.90286",
        "type": "debug",
        "z": "55423c12.c8e5c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "3559f618.36e30a",
        "type": "http request",
        "z": "55423c12.c8e5c4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://pedometer-ghliaw.herokuapp.com/alive",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 710,
        "y": 1000,
        "wires": [
            [
                "6e9bd53d.26821c"
            ]
        ]
    },
    {
        "id": "c588d58c.afec18",
        "type": "inject",
        "z": "55423c12.c8e5c4",
        "name": "",
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 573,
        "y": 1091,
        "wires": [
            [
                "3559f618.36e30a"
            ]
        ]
    },
    {
        "id": "6e9bd53d.26821c",
        "type": "debug",
        "z": "55423c12.c8e5c4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 852,
        "y": 1109,
        "wires": []
    },
    {
        "id": "768c53bb.c780dc",
        "type": "http in",
        "z": "55423c12.c8e5c4",
        "name": "",
        "url": "/alive",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 243,
        "y": 989,
        "wires": [
            [
                "6123acf3.072914"
            ]
        ]
    },
    {
        "id": "6123acf3.072914",
        "type": "http response",
        "z": "55423c12.c8e5c4",
        "name": "",
        "statusCode": "200",
        "headers": {
            "hey": "alive"
        },
        "x": 402,
        "y": 1039,
        "wires": []
    },
    {
        "id": "5a44df54.eb0cf",
        "type": "debug",
        "z": "55423c12.c8e5c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "80806035.d17b6",
        "type": "function",
        "z": "55423c12.c8e5c4",
        "name": "Set Chart Values",
        "func": "var chart = [{\n    \"series\":[\"Steps\"],\n    \"data\":[[]],\n    \"labels\":[\"\"]\n}];\n\ndata_array = chart[0].data[0];\nfor(let item of msg.payload) {\n    let temp = {};\n    temp.x = item.start_time;\n    temp.y = item.steps;\n    data_array.push(temp);\n}\n\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 810,
        "y": 680,
        "wires": [
            [
                "fd2908bf.592108",
                "151ebac6.950a65"
            ]
        ]
    },
    {
        "id": "fd2908bf.592108",
        "type": "debug",
        "z": "55423c12.c8e5c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 940,
        "y": 620,
        "wires": []
    },
    {
        "id": "8676505.0dd6ab",
        "type": "postgres",
        "z": "55423c12.c8e5c4",
        "postgresdb": "2fe28eb7.628192",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": true,
        "limit_queries": "0",
        "limit_by": "",
        "limit_value": "",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 640,
        "y": 380,
        "wires": [
            [
                "526bbf49.41085",
                "5eb7c229.9b0d5c"
            ]
        ]
    },
    {
        "id": "42c6d410.ded53c",
        "type": "postgres",
        "z": "55423c12.c8e5c4",
        "postgresdb": "2fe28eb7.628192",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": true,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 600,
        "y": 700,
        "wires": [
            [
                "bc4b2e93.90286",
                "80806035.d17b6",
                "6d43ac8f.8a8d94"
            ]
        ]
    },
    {
        "id": "6d43ac8f.8a8d94",
        "type": "ui_table",
        "z": "55423c12.c8e5c4",
        "group": "f25af163.19cf1",
        "name": "歷史記錄表",
        "order": 6,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "e10556ef.8e8e88",
        "type": "ui_button",
        "z": "55423c12.c8e5c4",
        "name": "",
        "group": "f25af163.19cf1",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "清除",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "clear",
        "payloadType": "str",
        "topic": "clear_button",
        "topicType": "str",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "bef111ef.8c45b",
                "38bc092e.f17826"
            ]
        ]
    },
    {
        "id": "bef111ef.8c45b",
        "type": "function",
        "z": "55423c12.c8e5c4",
        "name": "Set Empty Chart",
        "func": "var chart = [{\n    \"series\":[\"Steps\"],\n    \"data\":[[]],\n    \"labels\":[\"\"]\n}];\n\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 840,
        "wires": [
            [
                "151ebac6.950a65"
            ]
        ]
    },
    {
        "id": "38bc092e.f17826",
        "type": "function",
        "z": "55423c12.c8e5c4",
        "name": "Set Empty Table",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 760,
        "wires": [
            [
                "6d43ac8f.8a8d94"
            ]
        ]
    }
]